/* body {
    background-color: papayawhip;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; 
    padding: 0;
    text-align: center;
} */
#container{
  background-color: papayawhip;
  border-radius: 8px;
  margin: 2rem auto;
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
}

#button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    color: #4CAF50;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
  #button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

#formfield{
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    width: 30%;
    height: 25px;
  }

#response {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tooHigh{
    color: red;
    font-size: 24px;
    
  }
  
  .tooLow{
    color: blue;
    font-size: 24px;
  }
  .youGuessed{
    color: green;
    font-size: 24px;
  }

  #newGame{
    margin-bottom: 10px;
  }
  